<a href="https://colab.research.google.com/github/briberri/googlecolaboratory/blob/master/sample_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data analysis with Python.

I am using Google Colaboratory and the Pandas Python library to analyze sample data from a Far Horizons mission to the edge of space. 

In this guide, I will take the sample data from the spreedsheet and organize it into tables.

## Import Pandas Python library

In [0]:
import pandas as pd

## Import sensor data file

In [0]:
from google.colab import files

uploaded = files.upload()

Saving sampledata.csv to sampledata.csv

## Read sensor data file

In [0]:
df = pd.read_csv("sampledata.csv")

## Explore the data

Look at the columns

In [0]:
#Tell me the information that is in the first column of the spreadsheet.
#In this case, df means data frame.
df.columns

Index(['Launch+', 'Launch+.1', 'Unnamed: 2', 'time', 'lat', 'Unnamed: 5',
       'long', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'alt',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Temp',
       'pressure', 'Unnamed: 34', 'Unnamed: 35', 'accel', 'accel.1', 'accel.2',
       'p', 'T(p)', 'RH', 'T(RH)', 'T', 'Unnamed: 44', 'Geiger', 'Geiger.1',
       'Geiger.2'],
      dtype='object')

Select only the columns with names

In [0]:
#Pick out only the columns with names for the table we are about to create. 
#Data frame 1 of our table will include these named columns from the spreadsheet:
df1 = df[['Launch+','Launch+.1','time','lat','long','alt','Temp','pressure','accel','accel.1','accel.2','p','T(p)','RH','T(RH)','T','Geiger','Geiger.1','Geiger.2']]

How many observations are there?

In [0]:
#In this case, len stands for length. We are looking for how many rows of data the data frame will have.
len(df1)

11809

Look at the first 20 Rows, sorted by Time.

In [0]:
df1.sort_values(by="time",ascending=True).head(20)

,Launch+,Launch+.1,time,lat,long,alt,Temp,pressure,accel,accel.1,accel.2,p,T(p),RH,T(RH),T,Geiger,Geiger.1,Geiger.2
1,-10.00,-600,171622,4105.85756,8754.50726,200,23.51,996.78,-1.03,0.03,-0.13,994.8,18.4,40.8,18.3,18.1,0,0,0
2,-9.98,-599,171623,4105.85740,8754.50728,197,23.52,996.8,-1,0.03,-0.09,994.8,18.4,40.8,18.3,18.1,0,0,0
3,-9.97,-598,171624,4105.85805,8754.50813,199,23.51,996.77,-1.03,0.06,-0.09,994.8,18.4,40.7,18.3,18.1,0,0,0
4,-9.95,-597,171625,4105.85774,8754.50718,197,23.52,996.78,-1.03,0.03,-0.13,994.9,18.4,40.7,18.4,18.1,0,0,0
5,-9.93,-596,171626,4105.85878,8754.50520,199,23.52,996.75,-1.06,0.03,-0.13,994.9,18.4,40.6,18.4,18.1,0,0.2,1
6,-9.92,-595,171627,4105.85866,8754.50497,198,23.52,996.8,-1.03,0.03,-0.09,994.8,18.4,40.7,18.4,18.1,0,0.6,3
7,-9.90,-594,171628,4105.85866,8754.50457,197,23.52,996.74,-1.03,0.03,-0.09,994.8,18.4,40.7,18.4,18.1,0,0.6,3
8,-9.88,-593,171629,4105.85878,8754.50442,196,23.52,996.77,-1.03,0.03,-0.13,994.8,18.4,40.6,18.4,18.1,0,0.6,3
9,-9.87,-592,171630,4105.85897,8754.50434,197,23.52,996.78,-1.06,0,-0.09,994.8,18.4,40.6,18.4,18.2,1,0.6,3
10,-9.85,-591,171631,4105.85867,8754.50521,198,23.52,996.76,-1.03,0.03,-0.13,994.8,18.4,40.5,18.4,18.2,2,0.4,2
11,-9.83,-590,171632,4105.85883,8754.50460,199,23.52,996.81,-1,0.06,-0.09,994.8,18.4,40.5,18.5,18.2,0,0,0
12,-9.82,-589,171633,4105.85889,8754.50459,197,23.53,996.73,-1.03,0.03,-0.09,994.8,18.4,40.5,18.5,18.3,0,0,0
13,-9.80,-588,171634,4105.85892,8754.50479,198,23.53,996.79,-1.03,0.06,-0.09,994.8,18.4,40.7,18.5,18.3,0,0.2,1
14,-9.78,-587,171635,4105.85894,8754.50517,200,23.53,996.72,-1.03,0.03,-0.09,994.8,18.4,40.9,18.5,18.3,0,0.2,1
15,-9.77,-586,171636,4105.85899,8754.50548,201,23.53,996.73,-1.03,0.03,-0.09,994.8,18.5,40.9,18.5,18.3,0,0.2,1
16,-9.75,-585,171637,4105.85944,8754.50541,201,23.53,996.76,-1.03,0.03,-0.09,994.8,18.5,40.8,18.5,18.3,0,0.2,1
17,-9.73,-584,171638,4105.85926,8754.50521,200,23.53,996.81,-1.03,0.03,-0.09,994.8,18.5,40.8,18.5,18.3,1,0.2,1
18,-9.72,-583,171639,4105.85888,8754.50512,199,23.53,996.76,-1.03,0.03,-0.09,994.9,18.5,40.9,18.5,18.3,0,0,0
19,-9.70,-582,171640,4105.85876,8754.50526,198,23.53,996.77,-1.03,0.03,-0.13,994.9,18.5,40.9,18.5,18.3,0,0,0
20,-9.68,-581,171641,4105.85872,8754.50564,199,23.54,996.81,-1.03,0.03,-0.09,994.8,18.4,41.0,18.5,18.4,0,0,0

Look at the last 20 rows, sorted by time.

In [0]:
df1.sort_values(by="time",ascending=True).tail(20)

,Launch+,Launch+.1,time,lat,long,alt,Temp,pressure,accel,accel.1,accel.2,p,T(p),RH,T(RH),T,Geiger,Geiger.1,Geiger.2
11789,186.47,11188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
11790,186.48,11189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
11791,186.50,11190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
11792,186.52,11191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
11793,186.53,11192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
11794,186.55,11193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.2,1
11795,186.57,11194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.4,2
11796,186.58,11195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.4,2
11797,186.60,11196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.4,2
11798,186.62,11197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.4,2
11799,186.63,11198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.4,2
11800,186.65,11199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.2,1
11801,186.67,11200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.4,2
11802,186.68,11201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.4,2
11803,186.70,11202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.4,2
11804,186.72,11203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.2,1
11805,186.73,11204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.2,1
11806,186.75,11205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
11807,186.77,11206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
11808,186.78,11207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0